<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teaera.teaeracafe">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="merge"
        tools:replace="android:icon">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- Enables the Google Payment API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ItemCustomizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SubMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderReceiptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PaymentEditActivity"
            android:screenOrientation="portrait" />

        <service android:name=".utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RefundConfirmActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

    </application>

</manifest>